<div class="dialog-container" cdkFocusRegionStart>
  <div class="title" mat-dialog-title>{{ data.params?.title || "Üzenet" }}</div>
  <div class="content" mat-dialog-content>
    <p class="text" [innerHtml]="data.message"></p>
  </div>
  <div mat-dialog-actions class="button-container button-spacer">
    <button
      mat-button
      class="confirm-button"
      (click)="cancel()"
      cdkFocusInitial
    >
      {{ data.params?.buttonText || "Rendben" }}
    </button>
    <button mat-button class="confirm-button" mat-dialog-close>Mégsem</button>
  </div>
</div>
